<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/teacher/takeTestID" method="POST">
      Enter Test ID:
      <input
      style="width: 50%;"
        type="text"
        name="testID"
        placeholder="Enter Test ID"
        id="testID"
      />
      <br>
      <br>
      Enter Start Time:
      <input style="width: 50%;" type="number" placeholder="Enter Start Time" name="startTime" id="">
      <br>
      <br>
      Enter Test Duration:
      <input style="width: 50%;" type="number" placeholder="Enter Test Duration In Minutes" name="testDuration" id="">
      <br>
      <br>
      Enter threshold:
      <input style="width: 50%;" type="number" placeholder="Enter warning threshold" name="warningThreshold" id="">
      <br>
      <br>
      <input type="submit" name="submit" />
    </form>
  </body>
</html>
