<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Root Page</title>
  </head>
  <body>
    Select whether u r a teacher or student
    <a href="/teacher/login">Teacher</a>
    <a href="/student/login">Student</a>
  </body>
</html>
