<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>All Tests:</h1>
    <% tests.forEach(function(test){ %>
    <form action="/teacher/showTestAfterCreation" method="POST">
      <%= test.id %>
      <br />
      <input
        type="text"
        style="display: none"
        name="testID"
        value="<%= test.id %>"
        id=""
      />
      <input type="submit" value="Show Test" name="" id="" />
    </form>
    <% }) %>
  </body>
</html>
