<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Login</title>
  </head>
  <body>
    <h2>Student Login</h2>
    <form action="/student/login" method="POST">
      <input placeholder="Enter email" type="email" name="email" />
      <input placeholder="Enter Password" type="password" name="password" />
      <input type="submit" />
    </form>
    <a href="/student/register">Register Here</a>
  </body>
</html>
