<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Register</title>
  </head>
  <body>
    <form action="/student/register" method="POST">
      Enter ur Name:
      <input type="text" name="name" />
      <br>
      <br>
      Enter ur email:
      <input type="email" name="email" />
      <br>
      <br>
      Upload ur current photo:
      <input type="file" id="photo" name="photo">
      <br>
      <br>
      Enter password: 
      <input type="password" name="password" />
      <br>
      <br>
      <input type="submit" />
      <br>
      <br>
    </form>
  </body>
</html>
