<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/student/GetResultByEmail" method="POST">
        <h3>Enter your email: </h3>
        <input type="email" placeholder="Email" name="email">
        <input type="submit" class="btn btn-primary" name="" id="">
    </form>
</body>
</html>