<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Root Page</title>
  </head>
  <body>
    <div class="container mt-5" style="margin: auto;">
      <h3>Select Your Role:</h3>
      <button class="btn btn-primary"><a style="text-decoration: none; color: white;" href="/teacher/login">Admin</a></button>
      <button class="btn btn-primary"><a style="text-decoration: none; color: white;" href="/student/login">Student</a></button>
    </div>
  </body>
</html>
